header {
  width: 100%;
}
header .inner {
  max-width: 1740px;
  margin: 0 auto;
  padding: 40px;
}
header h1 {
  float: left;
  font-size: 25px;
  transform: scale(1.3);
}
header h1 a {
  color: #646464;
  letter-spacing: 2px;
  font-weight: bold;
}
header h1 span{
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: initial;
}
header .right_menu {
  float: right;
  height: 40px;
}
header span a {
  height: 100%;
  vertical-align: top;
  color: #333;
}
header span .search_btn{
  display: inline-block;
  margin-right: 40px;
}
header span .search_btn span {
  font-size: 35px;
}
header span .site_map {
  width: 30px;
  height: 37px;
  display: inline-block;
}
header span .site_map span {
  width: 100%;
  display: block;
  height: 2px;
  background: #333;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
header span .site_map span::before {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  height: 2px;
  background: #333;
  position: absolute;
  top: 12px;
}
header span .site_map span::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  height: 2px;
  background: #333;
  position: absolute;
  top: -12px;
}

/* NAV */
nav {
  position: absolute;
  background: #fff;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
}
nav .gnb {
  width: 50%;
  position: relative;
}
nav .gnb div.wrap {
  margin: 0 auto;
  max-width: 80%;
  padding-top: 150px;
}
nav .gnb div.wrap div {
  margin-bottom: 30px;;
}
nav .gnb div h2 {
  font-size: 34px;
  letter-spacing: 9px;
  color: #007a88;
}
nav .gnb ul {
  margin-top: 20px;
}
nav .gnb ul li {
  margin-bottom: 15px;
}
nav .gnb ul li a {
  color: #646464;
  font-size: 18px;
  display: inline-block;
  font-weight: 300;
  padding: 5px 0;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
nav .gnb ul li a:hover {
  border-bottom: 1px solid #007a88;
}
nav span.sns {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
nav span.sns a {
  margin-right: 30px;
}
nav span.sns span {
  font-size: 25px;
}
nav .nav_slide {
  width: 50%;
  overflow-x: scroll;
  position: relative;
}
nav .nav_slide .close {
  
}
nav .nav_slide div {
  
}
nav .nav_slide ul.slide {
  height: 100%;
  width: calc(100% * 3);
  display: flex;
}
nav .nav_slide ul.slide li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .nav_slide ul.slide li:nth-child(1) {
  background: #bae4e9;
  background-image: url("../img/facial-eraser-cleansing-oil-foam_hover.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
nav .nav_slide ul.slide li:nth-child(2) {
  background: #e2cbe3;
  background-image: url("../img/true-ampoule-mask_hover.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
nav .nav_slide ul.slide li:nth-child(3) {
  background: #bcb7d4;
  background-image: url("../img/deep-sea-waterfall-cream-hover.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
nav .nav_slide ul.slide li .wrap {
  width: 700px;
  margin: 0 auto;
  font-weight: 300;
  color:#474747;
}
nav .nav_slide ul.slide li h3 {
  font-size: 32px;
  letter-spacing: 8px;
  margin-bottom: 20px;
}
nav .nav_slide ul.slide li p {
  line-height: 1.5;
  margin-bottom: 50px;
}
nav .nav_slide ul.slide li a {
  color: #646464;
  line-height: 1.5;
  border-bottom: 1px solid #646464;
  transition: 0.5s;
}
nav .nav_slide ul.slide li a:hover {
  color: #000;
}
nav .nav_slide .slide_btn {
  position: absolute;
  display: flex;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
nav .nav_slide .slide_btn li {
  width: 20px;
  height: 20px;
  margin: 7px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
nav .nav_slide .slide_btn li::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  border: 1px solid #333;
}